<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings></appSettings>
<connectionStrings>
  <add name="SQLServerConnection1" connectionString="server=localhost;database=tempdb;uid=sa;password=123456;" providerName="System.Data.SqlClient"/>
  <add name="MySQLConnection1" connectionString="" />
</connectionStrings>
</configuration>